.inventory-grid {
    grid-template-columns: 48px auto 40px;

    @screen sm {
        grid-template-columns: 48px auto 112px 72px;
    }

    @screen md {
        grid-template-columns: 48px 112px auto 112px 72px;
    }

    @screen lg {
        grid-template-columns: 0 27em 27em 10em 8em;
    }
}

.btn-selected {
    background: #99f6e4;
    border-radius: 5px;
    padding: 5px 10px;
}

.checkbox-all {
    padding: 0 16px;
    height: 48px;
    display: flex !important;
    align-items: center;
}

.yellow {
    color: #fbbf24;
}

.delete {
    width: 24px;
    height: 24px;
}

:host::ng-deep.mat-progress-bar {
    margin-top: 0px !important;
}

.occupation-total {
    font-size: 12px !important;
    margin-top: -11px;
}

:host ::ng-deep.mat-stroked-button {
    border-color: lightgray !important;
}

:host ::ng-deep.mat-sort-header-container {
    justify-content: center !important;
}
