<div class="absolute inset-0 flex flex-col w-full sm:min-w-100 overflow-hidden">
    <mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent" (backdropClick)="onBackdropClicked()">
        <!-- Drawer -->
        <mat-drawer class="w-full md:w-160 dark:bg-gray-900" [mode]="'over'" [opened]="false" [position]="'end'"
            [disableClose]="true" #matDrawer>
            <router-outlet></router-outlet>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col">
            <!-- Main -->
            <div class="flex-auto">
                <!-- Header -->
                <div id="header"
                    class="flex flex-col sm:flex-row md:flex-col flex-auto justify-between py-8 px-6 md:px-8 border-b">
                    <!-- Title -->
                    <div>
                        <div class="text-3xl sm:text-4xl flex items-center font-extrabold tracking-tight leading-none">
                            Colaboradores
                            <focux-button *ngIf="canEdit()" class="ml-4" (buttonClick)="createCollaborator()">
                                <mat-icon [svgIcon]="'heroicons_outline:plus'">
                                </mat-icon>
                                <span class="ml-2 mr-1">Agregar</span>
                            </focux-button>

                        </div>

                        <div class="ml-0.5 font-medium text-secondary">
                            <ng-container *ngIf="collaborators$ | async as collaborators">
                                <ng-container *ngIf="collaborators.length > 0">
                                    {{ collaboratorsCount }}
                                </ng-container>
                            </ng-container>
                            {{
                            collaboratorsCount
                            | i18nPlural
                            : {
                            "=0": "No hay colaboradores",
                            "=1": "colaborador",
                            other: "colaboradores"
                            }
                            }}
                        </div>
                    </div>

                    <!-- Main actions -->
                    <div class="flex items-center mt-4 sm:mt-0 md:mt-4" [formGroup]="filterForm">
                        <!-- Search -->
                        <div class="flex-auto">
                            <!-- <mat-form-field
                                class="fuse-mat-dense text-sm sm:text-base fuse-mat-no-subscript fuse-mat-rounded w-full min-w-50">
                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                <input matInput [formControlName]="'searchInputControl'" [autocomplete]="'off'"
                                    [placeholder]="'Buscar Colaborador'" />
                            </mat-form-field> -->
                            <app-focux-search
                            [placeholder]="'Buscar Colaborador'"
                            [searchUrl]="'collaborators'"
                            (onSearch)="handleSearch($event)"
                            ></app-focux-search>
                            <div class="w-full sm:flex grid grid-cols-2">
                                <mat-form-field class="sm:w-1/4 grid-cols-1 w-full pr-2 pt-2">
                                    <mat-label>Cliente</mat-label>
                                    <mat-select [formControlName]="'clientControl'" multiple="multiple">
                                        <ng-container>
                                            <mat-option #allSelectedClients (click)="
                                                    toggleAllSelectionClients()
                                                " [value]="0">Seleccionar todo</mat-option>
                                            <mat-option (mouseover)="updateSelectedItem(i)" *ngFor="
                                                    let client of clients;
                                                    let i = index
                                                " [value]="client.name">{{ client.name }}
                                                <span *ngIf="indexActive == i">
                                                    <i [ngClass]="
                                                            updateSpan(i)
                                                                ? 'visible'
                                                                : 'invisible'
                                                        " (click)="
                                                            selectOnlyClient(client)
                                                        " class="underline not-italic text-xs" style="
                                                            background: #99f6e4;
                                                            border-radius: 5px;
                                                            padding: 5px 10px;
                                                        ">{{
                                                        updateSpan(i)
                                                        ? "SOLAMENTE"
                                                        : ""
                                                        }}</i>
                                                </span>
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field class="sm:w-1/4 w-full grid-cols-1 pr-2 pt-2">
                                    <mat-label>L&iacute;der</mat-label>
                                    <mat-select [formControlName]="'leaderControl'" multiple="multiple">
                                        <ng-container>
                                            <mat-option #allSelectedLeaders (click)="
                                                    toggleAllSelectionLeaders()
                                                " [value]="0">Seleccionar todo</mat-option>
                                            <mat-option (mouseover)="updateSelectedItem(i)" *ngFor="
                                                    let leader of leaders;
                                                    let i = index
                                                " [value]="leader.id">{{
                                                leader.name.split(" ")[0]
                                                | titlecase
                                                }}
                                                {{
                                                leader.name.split(" ")[1]
                                                | titlecase
                                                }}
                                                {{
                                                leader.lastName.split(" ")[0]
                                                | titlecase
                                                }}
                                                {{
                                                leader.lastName.split(" ")[1]
                                                | titlecase
                                                }}
                                                <span *ngIf="indexActive == i">
                                                    <i [ngClass]="
                                                            updateSpan(i)
                                                                ? 'visible'
                                                                : 'invisible'
                                                        " (click)="
                                                            selectOnlyLeader(leader)
                                                        " class="underline not-italic text-xs" style="
                                                            background: #99f6e4;
                                                            border-radius: 5px;
                                                            padding: 5px 10px;
                                                        ">{{
                                                        updateSpan(i)
                                                        ? "SOLAMENTE"
                                                        : ""
                                                        }}</i>
                                                </span>
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field class="sm:w-1/4 w-full grid-cols-1 pr-2 pt-2">
                                    <mat-label>Estatus</mat-label>
                                    <mat-select [formControlName]="'statusControl'" multiple="multiple">
                                        <ng-container>
                                            <mat-option #allSelectedStatuses (click)="
                                                    toggleAllSelectionStatuses()
                                                " [value]="0">Seleccionar todo</mat-option>
                                            <mat-option (mouseover)="updateSelectedItem(i)"
                                                (mouseleave)="updateUnselectItem(i)" *ngFor="
                                                    let status of statuses;
                                                    let i = index
                                                " [value]="status.name">{{ status.name }}
                                                <span *ngIf="indexActive == i">
                                                    <i (click)="
                                                            selectOnlyStatus(status)
                                                        " class="underline not-italic text-xs" style="
                                                            background: #99f6e4;
                                                            border-radius: 5px;
                                                            padding: 5px 10px;
                                                        ">{{
                                                        updateSpan(i)
                                                        ? "SOLAMENTE"
                                                        : ""
                                                        }}</i>
                                                </span>
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field class="sm:w-1/4 w-full grid-cols-1 pr-2 pt-2">
                                    <mat-label>Localidad</mat-label>
                                    <mat-select [formControlName]="'centralAmericanControl'">
                                        <ng-container>
                                            <mat-option [value]="null">Sin Filtro</mat-option>
                                            <mat-option [value]="0">Venezuela</mat-option>
                                            <mat-option [value]="1">Centro Am&eacute;rica</mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- Add collaborator button -->
                    </div>
                </div>
                <!-- <fuse-alert
                    *ngIf="activatedAlert"
                    [type]="'success'"
                    [dismissible]="true"
                    [dismissed]="true"
                    [name]="'alertBox4'"
                    (click)="dismissFuse('alertBox4')"
                >
                    <span fuseAlertTitle>{{successSave}}</span>
                </fuse-alert> -->
                <!-- Collaborators list -->
                <div class="relative">
                    <ng-container *ngIf="collaborators$ | async as collaborators">
                        <ng-container *ngIf="collaborators.length; else noCollaborators">
                            <ng-container *ngFor="
                                    let collaborator of collaborators |paginate:page_size:page_number;
                                    let i = index;
                                    trackBy: trackByFn
                                ">
                                <ng-container>
                                    <!-- Group -->
                                    <ng-container *ngIf="
                                            i === 0 ||
                                            collaborator.name.charAt(0) !==
                                                collaborators[
                                                    i - 1
                                                ].name.charAt(0)
                                        ">
                                        <div
                                            class="z-10 sticky top-0 -mt-px px-6 py-1 md:px-8 border-t border-b font-medium uppercase text-secondary bg-gray-50 dark:bg-gray-900">
                                            {{ collaborator.name.charAt(0) }}
                                        </div>
                                    </ng-container>

                                    <!-- Collaborator -->
                                    <a class="z-20 flex items-center px-6 py-4 md:px-8 cursor-pointer border-b"
                                        [ngClass]="{
                                            'hover:bg-gray-100 dark:hover:bg-hover':
                                                !selectedCollaborator ||
                                                selectedCollaborator.id !==
                                                    collaborator.id,
                                            'bg-primary-50 dark:bg-hover':
                                                selectedCollaborator &&
                                                selectedCollaborator.id ===
                                                    collaborator.id
                                        }" [routerLink]="[
                                            './profile',
                                            collaborator.id
                                        ]">
                                        <div
                                            class="flex flex-0 items-center justify-center w-10 h-10 rounded-full overflow-hidden">
                                            <ng-container *ngIf="collaborator.image">
                                                <img class="object-cover w-full h-full" [src]="collaborator.image"
                                                    alt="Collaborator avatar" />
                                            </ng-container>
                                            <ng-container *ngIf="!collaborator.image">
                                                <div
                                                    class="flex items-center justify-center w-full h-full rounded-full text-lg uppercase bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                                                    {{
                                                    collaborator.name.charAt(
                                                    0
                                                    )
                                                    }}
                                                </div>
                                            </ng-container>
                                        </div>
                                        <div class="min-w-0 ml-4">
                                            <div class="font-medium leading-5 truncate">
                                                {{ collaborator.name }}
                                                {{ collaborator.lastName }}
                                            </div>
                                            <div class="leading-5 truncate text-secondary">
                                                {{
                                                collaborator
                                                .employeePosition.name
                                                }}
                                            </div>
                                        </div>
                                    </a>
                                </ng-container>
                            </ng-container>
                            <mat-paginator class="flex justify-end" [length]="collaborators.length"
                                [pageSize]="page_size" [pageSizeOptions]="pageSizeOptions" (page)="handlePage($event)"
                                aria-label="Select page">
                            </mat-paginator>
                        </ng-container>
                    </ng-container>

                    <!-- No collaborators -->
                    <ng-template #noCollaborators>
                        <div class="p-8 sm:p-16 border-t text-sm sm:text-4xl font-semibold tracking-tight text-center">
                            No hay colaboradores seleccionados!
                        </div>
                    </ng-template>
                </div>
            </div>
            <button matTooltip="Agregar" mat-fab color="primary" class=" block sm:hidden mat-elevation-z2 z-50 add"
                (click)="createCollaborator()">
                <mat-icon>add</mat-icon>
            </button>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
