<div class="flex flex-col w-full">
    <!-- View mode -->
    <ng-container *ngIf="!editMode">
        <!-- Header -->
        <div
            class="relative w-full h-40 sm:h-48 px-8 sm:px-12 bg-accent-100 dark:bg-accent-700"
        >
            <!-- Background -->

            <!-- Close button -->
            <div
                class="flex items-center justify-end w-full max-w-3xl mx-auto pt-6"
            >
                <button
                    mat-icon-button
                    [matTooltip]="'Close'"
                    [routerLink]="['../']"
                >
                    <mat-icon
                        class="text-white"
                        [svgIcon]="'heroicons_outline:x'"
                    ></mat-icon>
                </button>
            </div>
        </div>

        <!-- Evaluation -->
        <div
            class="relative flex flex-col flex-auto items-center p-6 pt-0 sm:p-12 sm:pt-0"
        >
            <div class="w-full max-w-3xl">
                <!-- Avatar and actions -->
                <div class="flex flex-auto items-end -mt-16">
                    <!-- Avatar -->
                    <div
                        class="flex items-center justify-center w-32 h-32 rounded-full overflow-hidden ring-4 ring-bg-card"
                    >
                        <div
                            class="flex items-center justify-center w-full h-full rounded overflow-hidden uppercase text-8xl font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200"
                        >
                            {{ evaluation.name.charAt(0) }}
                        </div>
                    </div>
                    <!-- Actions -->
                    <div class="flex items-center ml-auto mb-1">
                        <button
                            mat-stroked-button
                            (click)="toggleEditMode(true)"
                        >
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:pencil-alt'"
                            ></mat-icon>
                            <span class="ml-2">Editar</span>
                        </button>
                    </div>
                </div>

                <!-- Name -->
                <div class="mt-3 text-4xl font-bold truncate">
                    {{ evaluation.name }}
                </div>

                <div class="flex flex-col mt-4 pt-6 border-t space-y-8">
                    <!-- Code -->
                    <ng-container *ngIf="evaluation.code">
                        <div class="flex sm:items-center">
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_outline:briefcase'"
                            ></mat-icon>
                            <div class="ml-6 leading-6">
                                {{ evaluation.code }}
                            </div>
                        </div>
                    </ng-container>

                    <!-- Objetive -->
                    <ng-container *ngIf="filteredTarget">
                        <div class="flex sm:items-center">
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_outline:clipboard-check'"
                            ></mat-icon>
                            <div class="ml-6 leading-6">
                                {{ filteredTarget.name }}
                            </div>
                        </div>
                    </ng-container>

                    <!-- Indicator -->
                    <ng-container *ngIf="filteredIndicator">
                        <div class="flex sm:items-center">
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_outline:clipboard-check'"
                            ></mat-icon>
                            <div class="ml-6 leading-6">
                                {{
                                    filteredIndicator.name +
                                        " / " +
                                        filteredIndicator.type
                                }}
                            </div>
                        </div>
                    </ng-container>

                    <!-- Minimum Percentage -->
                    <ng-container *ngIf="filteredIndicator">
                        <div class="flex sm:items-center">
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:menu-alt-2'"
                            ></mat-icon>
                            <div class="ml-6 leading-6">
                                <span
                                    *ngIf="
                                        filteredIndicator.type === 'Descendente'
                                    "
                                    >Valor minimo: </span
                                >
                                <span
                                    *ngIf="
                                        filteredIndicator.type === 'Ascendente'
                                    "
                                    >Porcentaje minimo: </span>
                                {{ evaluation.minimumPercentage }}


                                <span
                                    *ngIf="
                                        filteredIndicator.type === 'Ascendente'
                                    "
                                    >%</span
                                >
                            </div>
                        </div>
                    </ng-container>

                    <!-- Maximum Percentage -->
                    <ng-container *ngIf="filteredIndicator">
                        <div class="flex sm:items-center">
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:menu-alt-2'"
                            ></mat-icon>
                            <div class="ml-6 leading-6">
                                <span
                                    *ngIf="
                                        filteredIndicator.type === 'Descendente'
                                    "
                                    >Valor maximo: </span>
                                    <span
                                    *ngIf="
                                        filteredIndicator.type === 'Ascendente'
                                    "
                                    >Porcentaje maximo: </span>
                                {{ evaluation.maximumPercentage }}
                                <span
                                    *ngIf="
                                        filteredIndicator.type === 'Ascendente'
                                    "
                                    >%</span
                                >
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- Edit mode -->
    <ng-container *ngIf="editMode">
        <!-- Header -->
        <div
            class="relative w-full h-40 sm:h-48 px-8 sm:px-12 bg-accent-100 dark:bg-accent-700"
        >
            <!-- Background -->

            <!-- Close button -->
            <div
                class="flex items-center justify-end w-full max-w-3xl mx-auto pt-6"
            >
                <button
                    mat-icon-button
                    [matTooltip]="'Close'"
                    [routerLink]="['../']"
                >
                    <mat-icon
                        class="text-white"
                        [svgIcon]="'heroicons_outline:x'"
                    ></mat-icon>
                </button>
            </div>
        </div>

        <!-- Evaluation form -->
        <div
            class="relative flex flex-col flex-auto items-center px-6 sm:px-12"
        >
            <div class="w-full max-w-3xl">
                <form [formGroup]="evaluationForm">
                    <!-- Name -->
                    <div class="row">
                        <div class="mt-8">
                            <mat-form-field
                                class="fuse-mat-no-subscript w-full"
                            >
                                <mat-label
                                    >Nombre de la evaluaci&oacute;n</mat-label
                                >
                                <mat-icon
                                    matPrefix
                                    class="hidden sm:flex icon-size-5"
                                    [svgIcon]="'heroicons_solid:user-circle'"
                                ></mat-icon>
                                <input
                                    matInput
                                    formControlName="name"
                                    [placeholder]="'Nombre'"
                                    [spellcheck]="false"
                                />
                            </mat-form-field>
                             <span class="text-center text-red-500 text-md" *ngIf="isNotValid('name')">El campo es obligatorio</span>
                        </div>
                    </div>

                    <!-- Code -->
                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label
                                >Codigo de la evaluaci&oacute;n</mat-label
                            >
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_outline:briefcase'"
                            ></mat-icon>
                            <input
                                matInput
                                formControlName="code"
                                [placeholder]="'Codigo'"
                                [spellcheck]="false"
                            />
                        </mat-form-field>
                         <span class="text-center text-red-500 text-md" *ngIf="isNotValid('code')">El campo es obligatorio</span>
                    </div>

                    <!-- Objetive -->
                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label
                                >Objetivo de la evaluaci&oacute;n</mat-label
                            >
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_outline:clipboard-check'"
                            ></mat-icon>
                            <mat-select
                                placeholder="Objetivo"
                                formControlName="target"
                            >
                                <mat-option
                                    *ngFor="let objetive of objetives"
                                    [value]="objetive.id"
                                    >{{ objetive.name }}</mat-option
                                >
                            </mat-select>
                        </mat-form-field>
                         <span class="text-center text-red-500 text-md" *ngIf="isNotValid('target')">El campo es obligatorio</span>
                    </div>

                    <!-- Indicator -->
                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label
                                >Indicador de la evaluaci&oacute;n</mat-label
                            >
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_outline:clipboard-check'"
                            ></mat-icon>
                            <mat-select
                                placeholder="Objetivo"
                                formControlName="indicator"
                                (selectionChange)="filterPositionsByIndicator()"
                            >
                                <mat-option
                                    *ngFor="let indicator of indicators"
                                    [value]="indicator.id"
                                    >{{
                                        indicator.name + " / " + indicator?.type
                                    }}</mat-option
                                >
                            </mat-select>
                        </mat-form-field>
                        <span class="text-center text-red-500 text-md" *ngIf="isNotValid('indicator')">El campo es obligatorio</span>
                    </div>

                    <section *ngIf="filteredIndicator">
                        <!-- Minimun Percentage -->
                        <div class="mt-8">
                            <div
                                *ngIf="
                                    filteredIndicator?.type === 'Ascendente';
                                    else Descendente
                                "
                            >
                                <mat-label>% Minimo</mat-label>
                            </div>

                            <ng-template #Descendente>
                                <mat-label>Valor Minimo</mat-label>
                            </ng-template>

                            <mat-form-field
                                class="mt-1 fuse-mat-no-subscript w-full"
                            >
                                <mat-icon
                                    matPrefix
                                    class="hidden sm:flex icon-size-5"
                                    [svgIcon]="'heroicons_solid:menu-alt-2'"
                                ></mat-icon>
                                <input
                                    matInput
                                    min="0"
                                    max="100"
                                    type="number"
                                    formControlName="minimumPercentage"
                                    [placeholder]="'% minimo'"
                                    [spellcheck]="false"
                                />
                            </mat-form-field>
                              <span class="text-center text-red-500 text-md" *ngIf="isNotValid('minimumPercentage')">El campo es obligatorio</span>
                        </div>

                        <!-- Maximun Percentage -->
                        <div class="mt-8">
                            <div
                                *ngIf="
                                    filteredIndicator?.type === 'Ascendente';
                                    else Descendente2
                                "
                            >
                                <mat-label>% Maximo</mat-label>
                            </div>

                            <ng-template #Descendente2>
                                <mat-label>Valor Maximo</mat-label>
                            </ng-template>

                            <mat-form-field
                                class="mt-1 fuse-mat-no-subscript w-full"
                            >
                                <mat-icon
                                    matPrefix
                                    class="hidden sm:flex icon-size-5"
                                    [svgIcon]="'heroicons_solid:menu-alt-2'"
                                ></mat-icon>
                                <input
                                    matInput
                                    min="0"
                                    max="100"
                                    type="number"
                                    formControlName="maximumPercentage"
                                    [placeholder]="'% maximo'"
                                    [spellcheck]="false"
                                />
                            </mat-form-field>
                            <span class="text-center text-red-500 text-md" *ngIf="isNotValid('maximumPercentage')">El campo es obligatorio</span>
                        </div>
                    </section>

                    <!-- Actions -->
                    <div
                        class="flex items-center mt-10 -mx-6 sm:-mx-12 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent"
                    >
                        <!-- Delete -->
                        <button
                            mat-button
                            [color]="'warn'"
                            [matTooltip]="'Borrar'"
                            (click)="deleteEvaluation()"
                        >
                            Borrar
                        </button>
                        <!-- Cancel -->
                        <button
                            class="ml-auto"
                            mat-button
                            [matTooltip]="'Cancelar'"
                            (click)="toggleEditMode(false)"
                        >
                            Cancelar
                        </button>
                        <!-- Save -->
                        <button
                            class="ml-2"
                            mat-flat-button
                            [color]="'primary'"
                            [disabled]="evaluationForm.invalid"
                            [matTooltip]="'Guardar'"
                            (click)="updateEvaluation()"
                        >
                            Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </ng-container>
</div>
