.tab-select {
    // background-color: rgba(51, 65, 85, var(--tw-bg-opacity)) !important;
    // --tw-bg-opacity: 0.1 !important;
    // background-color: rgb(249 250 251);
    background-color: #00bcb5 !important;
    color: white !important;
}



::ng-deep {
        .mat-tab-group .mat-tab-header .mat-tab-label-container .mat-tab-list .mat-tab-labels .mat-tab-label {
            min-width: 0 !important;
            height: 40px !important;
            padding: 0 20px !important;
            border-radius: 0 !important;
            --tw-text-opacity: 1;
            color: rgba(var(--fuse-text-secondary-rgb), var(--tw-text-opacity));
            border-top-left-radius: 10px !important;
            border-top-right-radius: 10px !important;
            background-color: white;
       
}
}

::ng-deep {


    .mat-tab-group .mat-tab-header .mat-tab-label-container .mat-tab-list .mat-tab-labels .mat-tab-label.mat-tab-label-active {
        min-width: 25px !important;
        padding: 5px;
        //background-color: transparent;
        background-color: #35aebe !important;

        color: white !important;
        font-weight: 700;
    }
}

::ng-deep .mat-tab-body-content {
    overflow: visible !important;
  }

  ::ng-deep .mat-tab-label-active {
    background-color: #54d7d2 !important;
    color: white !important;
  }
