<div class="flex items-center mt-4 sm:mt-0 md:mt-4">
<div class="flex-auto">
        <mat-form-field
            class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded w-full min-w-50"
        >
            <mat-icon
                class="icon-size-5"
                matPrefix
                [svgIcon]="'heroicons_solid:search'"
            ></mat-icon>
            <input
                matInput
                [autocomplete]="'off'"
                [placeholder]="placeholder"
                [formControl]="searchInputControl"
            />
        </mat-form-field>
</div>
</div>