.checkbox-all {
    padding: 0 16px;
    height: 48px;
    display: flex !important;
    align-items: center;
    font-size: inherit;
}

.btn-selected {
    background: #99f6e4;
    border-radius: 5px;
    padding: 5px 10px;
}