.content {
    background-color: #f1f5f9;
}

.inventory-grid {
    grid-template-columns: 48px auto 40px;

    @screen sm {
        grid-template-columns: 48px auto 112px 72px;
    }

    @screen md {
        grid-template-columns: 48px 112px auto 112px 72px;
    }

    @screen lg {
        grid-template-columns: 48px 112px auto 112px 96px 96px 72px;
    }
}

*{padding:0;margin:0;}

.float{
	position:fixed;
    z-index: 100;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
}

.example-radio-button {
    margin: 5px;
}

mat-slider {
    width: 100% !important;
}

.filter-item {
    width: 100%;
    height: 50px;
    // border-bottom: 1px solid lightgray;
    background-color: white;
    text-align: center;
    cursor: pointer;
    border-style: solid;
}

// .filter-item:hover {
//     --tw-bg-opacity: 1 !important;
//     background-color: rgba(241, 245, 249, var(--tw-bg-opacity)) !important;
// }

.pointer {
    cursor: pointer;
}

.arrow-icon {
    color: #0d9488;
}

.filter {
    transition: display 2s ;
}

.matTooltipCustom {
    max-width: 200px !important;
    color: white !important;
    font-size: 18px !important;
    left: 0px !important;
    margin-right: 30px;
    margin-top: 4px !important;
    background-color: rgba(245, 158, 11, var(--tw-text-opacity)) !important;
}

.matTooltipResponsibleCustom {
    max-width: 300px !important;
    color: white !important;
    font-size: 18px !important;
    left: 0px !important;
    margin-left: 30px;
    margin-top: 4px !important;
    background-color: rgba(245, 158, 11, var(--tw-text-opacity)) !important;;
}

// ::ng-deep .tooltip {
//     background-color: red;
//     color: blue;
//     font-size: 20px;
//   }

//   .my-custom-tooltip {
//     max-width: 200px !important;
//     background-color: red;
//     color: blue;
//     font-size: 20px;
//   }


//   ::ng-deep .matTooltipCustom{
//     // white-space: pre-line;
//     // width: 1500px;
//     // width: fit-content;
//     max-width: 300px !important;
//     white-space: pre-wrap;
//     font-size: 17px;
//   }

// ::ng-deep .mat-tooltip-component {
//     .mat-tooltip.tooltip {
//         color: blue !important;
//     }
// } 

.example-result-card .example-label-container .example-label-horizontal {
    display: flex;
    justify-content: space-between;
    margin: 0 0 12px 16px;
    max-width: 284px;
}

.example-result-card .example-label-container .example-label-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 68px;
    height: 48px;
}

.example-form {
    //min-width: 150px;
    width: 100%;
}

.example-full-width {
    width: 200px;
}

.container-filter {
    display: flex;
    flex-direction: row;
    width: 100%;

    // & div:nth-child(1) {
    //     width: auto;
    // }
}

:host::ng-deep
    .mat-form-field.mat-form-field-appearance-fill
    .mat-form-field-wrapper
    .mat-form-field-flex {
    padding-right: 0;
}


::ng-deep {

.fuse-alert-container {
        height: 75px !important;
        text-align: center;
        align-items: center;
        font-size: 16px;
    
}}


.example {
    position: relative;
    min-height: 200px;
    max-height: 400px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }

  .mat-header-cell{
    min-width: auto;
    text-align: center;
  }

  .button_edit{
    position: absolute;
    top:40%;
    right:0%;
  }