<div
    class="content flex flex-auto border-t-mt-px max-w-screen-xl mx-auto py-4  sm:px-8 h-full bg-gray-50"
>
    <div class="w-full">
        <div class="flex flex-col">
            <ng-container *ngIf="!isEditing">
                <div class="flex flex-auto mt-4 mb-8">
                    <form
                        [formGroup]="filterForm"
                        class="example-form flex flex-col w-full"

                    >
                    <!-- <div class="py-3 w-1/2 px-6 rounded-md shadow grid-cols-1 sm:flex sm:flex-col bg-white mb-8">
                        <h1
                            class="text-base md:text-4xl mb-3 font-semibold tracking-tight leading-2 md:leading-snug sm:truncate ng-star-inserted bg-white"
                        >
                            Solicitud
                        </h1>
                        <p>Haga que su proceso de busqueda de la solicitud sea más sencilla haciendo uso de los siguientes filtros.</p>
                    </div> -->
                    <h1 class="text-base md:text-4xl mb-3 font-semibold tracking-tight leading-2 md:leading-snug sm:truncate ng-star-inserted">
                            Solicitud
                        </h1>
                        <div class="sm:flex grid grid-cols-1 w-full">
                            <div
                                class="sm:w-1/4 w-full container-filter sm:flex sm:flex-col grid grid-cols-2 justify-start"
                            >
                                
                                <div class="flex items-center justify-start">
                                    <!-- <span class="ml-2 mb-3 font-semibold">Filtros (4)</span> -->
                                </div>
                                <div class="w-full grid-cols-1">
                                    <div class="flex flex-col">
                                        <mat-label class="font-semibold"
                                            >Cliente</mat-label
                                        >
                                        <mat-form-field
                                            class="mr-6  sm:text-base"
                                            appearance="fill"
                                        >
                                            <input
                                                type="text"
                                                matInput
                                                [placeholder]="'Cliente'"
                                                formControlName="clientControl"
                                                [matAutocomplete]="client"
                                            />

                                            <mat-autocomplete
                                                #client="matAutocomplete"
                                            >
                                                <mat-option
                                                    class=" sm:text-base"
                                                    *ngFor="
                                                        let option of filteredClients
                                                            | async
                                                    "
                                                    [value]="option"
                                                >
                                                    {{ option }}
                                                </mat-option>
                                            </mat-autocomplete>
                                            <mat-icon
                                                class="cursor-pointer"
                                                *ngIf="
                                                    filterForm.get(
                                                        'clientControl'
                                                    ).value !== '' &&
                                                    filterForm.get(
                                                        'clientControl'
                                                    ).value !== null
                                                "
                                                (click)="
                                                    clearFormClientAndRequest(
                                                        filterForm.get(
                                                            'clientControl'
                                                        )
                                                    )
                                                "
                                                matSuffix
                                                >clear</mat-icon
                                            >
                                            <mat-icon
                                                class="cursor-pointer"
                                                *ngIf="
                                                    filterForm.get(
                                                        'clientControl'
                                                    ).value === '' ||
                                                    filterForm.get(
                                                        'clientControl'
                                                    ).value === null
                                                "
                                                >arrow_drop_down</mat-icon
                                            >
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="w-full grid-cols-1">
                                    <div class="flex flex-col mr-6">
                                        <mat-label class="font-semibold"
                                            >Responsable</mat-label
                                        >
                                        <mat-form-field class=" sm:text-base">
                                            <input
                                                type="text"
                                                [placeholder]="'Responsable'"
                                                matInput
                                                formControlName="collaboratorControl"
                                            />

                                            <mat-autocomplete
                                                #autoCollaborator="matAutocomplete"
                                            >
                                                <mat-option
                                                    class=" sm:text-base"
                                                    *ngFor="
                                                        let collaborator of filteredCollaborators
                                                    "
                                                    [value]="collaborator"
                                                >
                                                    {{ collaborator }}
                                                </mat-option>
                                            </mat-autocomplete>
                                            <mat-icon
                                                class="cursor-pointer"
                                                *ngIf="
                                                    filterForm.get(
                                                        'collaboratorControl'
                                                    ).value !== '' &&
                                                    filterForm.get(
                                                        'collaboratorControl'
                                                    ).value !== null
                                                "
                                                (click)="
                                                    restartingList(
                                                        filterForm.get(
                                                            'collaboratorControl'
                                                        )
                                                    )
                                                "
                                                matSuffix
                                                >clear</mat-icon
                                            >
                                            <mat-icon
                                                class="cursor-pointer"
                                                *ngIf="
                                                    filterForm.get(
                                                        'collaboratorControl'
                                                    ).value === '' ||
                                                    filterForm.get(
                                                        'collaboratorControl'
                                                    ).value === null
                                                "
                                                >arrow_drop_down</mat-icon
                                            >
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="w-full grid-cols-1">
                                    <div class="flex flex-col mr-6">
                                        <mat-label class="font-semibold"
                                            >Estatus</mat-label
                                        >
                                        <mat-form-field class=" sm:text-base">
                                            <mat-select
                                                class="pr-4"
                                                style="padding-right: 5px"
                                                [formControl]="statusControl"
                                            >
                                                <ng-container
                                                    class=" sm:text-base"
                                                    *ngFor="
                                                        let status of status$
                                                            | async
                                                    "
                                                >
                                                    <mat-option
                                                        [value]="status.id"
                                                    >
                                                        {{ status.name }}
                                                    </mat-option>
                                                </ng-container>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <mat-divider
                                [vertical]="'true'"
                                class="border mb-4"
                            ></mat-divider>
                            <div class="flex flex-col w-full items-end mr-6">
                                <div class="self-end w-7/12">
                                    <mat-label class="font-semibold"
                                        >Solicitudes</mat-label
                                    >
                                    <mat-form-field
                                        (click)="validateCollaborator()"
                                        class="w-full  sm:text-base"
                                        appearance="fill"
                                    >
                                        <input
                                            type="text"
                                            placeholder="Solicitud"
                                            aria-label="Number"
                                            matInput
                                            formControlName="requestControl"
                                            [matAutocomplete]="auto"
                                        />
                                        <mat-autocomplete
                                            #auto="matAutocomplete"
                                        >
                                            <mat-option
                                                class=" sm:text-base"
                                                *ngFor="
                                                    let option of filteredRequest
                                                "
                                                [value]="option"
                                            >
                                                {{ option }}
                                            </mat-option>
                                        </mat-autocomplete>
                                        <mat-icon
                                            class="cursor-pointer"
                                            *ngIf="
                                                filterForm.get('requestControl')
                                                    .value !== '' &&
                                                filterForm.get('requestControl')
                                                    .value !== null
                                            "
                                            (click)="
                                                clearFormClientAndRequest(
                                                    filterForm.get(
                                                        'requestControl'
                                                    )
                                                )
                                            "
                                            matSuffix
                                            >clear</mat-icon
                                        >
                                        <mat-icon
                                            class="cursor-pointer"
                                            *ngIf="
                                                filterForm.get('requestControl')
                                                    .value === '' ||
                                                filterForm.get('requestControl')
                                                    .value === null
                                            "
                                            >arrow_drop_down</mat-icon
                                        >
                                    </mat-form-field>
                                </div>
                                <!-- <div class="flex justify-center tems-center w-full" style="margin: auto">
                                    <fuse-alert class="" style="width: 38%; height: 100px !important;"
                                        [type]="'warning'"
                                        [dismissible]="false"
                                        [dismissed]="true"
                                        [name]="'alertBox4'"
                                        [appearance]="'outline'"
                                        (click)="dismissFuse('alertBox4')"
                                    >
                                        <span fuseAlertTitle>{{successSave}}</span>
                                    </fuse-alert>
                                </div> -->
                                <div
                                    *ngIf="selectedClient && !hasRequest"
                                    class="flex justify-center items-center w-full m-auto"
                                >
                                    <div
                                        class="p-8 sm:p-16 text-2xl sm:text-4xl font-semibold tracking-tight text-center"
                                    >
                                        No tiene solicitudes
                                    </div>
                                </div>
                                <div
                                    class="flex flex-col self-end flex-auto w-full p-0 sm:pl-10 overflow-hidden sm:overflow-y-auto"
                                    *ngIf="
                                        dataCollab.data.length > 0 &&
                                            selectedRequest;
                                        else noneCollaborators
                                    "
                                >
                                    <div>
                                        <h1
                                            class="text-base md:text-3xl mb-3 font-semibold tracking-tight leading-5 md:leading-snug truncate ng-star-inserted"
                                        >
                                            Colaboradores asignados
                                        </h1>
                                    </div>
                                    <div class="overscroll-auto example">
                                        <table mat-table [dataSource]="dataCollab">
                                            <ng-container matColumnDef="id">
                                                <th
                                                    mat-header-cell
                                                    *matHeaderCellDef
                                                >
                                                    #
                                                </th>
                                                <td
                                                    mat-cell
                                                    *matCellDef="
                                                        let element;
                                                        let i = index
                                                    "
                                                    class="th-left"
                                                >
                                                    {{ i + 1 }}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="name">
                                                <th
                                                    mat-header-cell
                                                    *matHeaderCellDef
                                                >
                                                    Nombre
                                                </th>
                                                <td
                                                    mat-cell
                                                    *matCellDef="
                                                        let element;
                                                        let i = index
                                                    "
                                                    class="th-left"
                                                >
                                                    {{ element.name }}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="roleName">
                                                <th
                                                    mat-header-cell
                                                    *matHeaderCellDef
                                                >
                                                    Rol
                                                </th>
                                                <td
                                                    mat-cell
                                                    *matCellDef="let element"
                                                >
                                                    {{ element.roleName }}
                                                </td>
                                            </ng-container>
                                            <ng-container
                                                matColumnDef="occupationPercentage"
                                            >
                                                <th
                                                    mat-header-cell
                                                    *matHeaderCellDef
                                                >
                                                    Ocupación %
                                                </th>
                                                <td
                                                    mat-cell
                                                    *matCellDef="let element"
                                                >
                                                    <!-- <mat-progress-bar
                                                            class="mt-3 rounded-full w-60"
                                                            [mode]="'determine'"
                                                            [color]="element.occupationPercentage >= 100 ? 'primary' : 'warn'"
                                                            [value]="element.occupationPercentage"
                                                        >
                                                        </mat-progress-bar> -->
                                                    {{
                                                        element.occupationPercentage +
                                                            "%"
                                                    }}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="startDate">
                                                <th
                                                    mat-header-cell
                                                    *matHeaderCellDef
                                                >
                                                    Fecha de Inicio
                                                </th>
                                                <td
                                                    mat-cell
                                                    *matCellDef="let element"
                                                >
                                                    20-08-2022
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="endDate">
                                                <th
                                                    mat-header-cell
                                                    *matHeaderCellDef
                                                  
                                                >
                                                    Fecha Fin
                                                </th>
                                                <td
                                                    mat-cell
                                                    *matCellDef="let element"
                                                >
                                                    20-09-2022
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="options">
                                                <th
                                                    mat-header-cell
                                                    *matHeaderCellDef
                                                ></th>
                                                <td
                                                    mat-cell
                                                    *matCellDef="let element"
                                                >
                                                    <button
                                                        class="min-w-10 min-h-7 h-7 mr-2 px-2 leading-6"
                                                        matTooltip="Siguiente"
                                                        mat-stroked-button
                                                        matTooltip="Editar ocupaciones"
                                                        (click)="
                                                            setOccupation(element)
                                                        "
                                                    >
                                                        <mat-icon
                                                            class="icon-size-5"
                                                            [svgIcon]="
                                                                'heroicons_solid:pencil'
                                                            "
                                                        >
                                                        </mat-icon>
                                                    </button>
                                                </td>
                                            </ng-container>
                                            <!-- DateEnd Pause -->
    
                                            <tr
                                                mat-header-row
                                                *matHeaderRowDef="displayColCollab"
                                            ></tr>
                                            <tr
                                                mat-row
                                                *matRowDef="
                                                    let row;
                                                    columns: displayColCollab
                                                "
                                            ></tr>
                                        </table>
                                    </div>
                                    
                                </div>

                                <ng-template #noneCollaborators>
                                    <div
                                        class="p-8 sm:p-16 text-4xl font-semibold tracking-tight text-center self-center"
                                        *ngIf="selectedRequest"
                                    >
                                        No tiene colaboradores asignados
                                    </div>
                                </ng-template>
                                <!-- <div class="flex flex-row justify-end items-end" style="width: 40%;">
                                        <button
                                            mat-fab
                                            [color]="'accent'"
                                            type="button"
                                            [disabled]="!selectedRequest || !hasCheckedCollaborator"
                                            (click)="changeTab()"
                                            matTooltip="Siguiente"

                                        >
                                            <mat-icon
                                                class="icon-size-7"
                                            >
                                                keyboard_arrow_right
                                            </mat-icon>
                                        </button>
                                    </div> -->
                            </div>
                        </div>
                    </form>
                </div>
                <!-- <fuse-alert
                        [type]="'success'"
                        [dismissible]="true"
                        [dismissed]="true"
                        [name]="'alertBox4'"
                        (click)="dismissFuse('alertBox4')"
                        >
                            <span fuseAlertTitle>{{successSave}}</span>
                    </fuse-alert> -->
                <mat-divider class="border-t mb-4"></mat-divider>
                <!-- <div class="divide-solid" style="height: 1px; width: 100%;"></div> -->
                <div class="flex justify-between">
                    <h1
                        class="text-base md:text-4xl mb-3 font-semibold tracking-tight leading-5 md:leading-snug truncate ng-star-inserted"
                    >
                        Colaboradores
                    </h1>
                    <div class="flex justify-end w-1/2">
                        <mat-form-field class="fuse-mat-dense text-sm sm:text-base fuse-mat-no-subscript fuse-mat-rounded w-full min-w-50">
                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:search'"></mat-icon>
                            <input matInput [formControl]="searchInputControl" [autocomplete]="'off'"
                                [placeholder]="'Buscar Colaborador'" />
                        </mat-form-field>
                    </div>
                </div>
                <!-- <div class="py-3 w-1/2 px-6 rounded-md shadow grid-cols-1 sm:flex sm:flex-col bg-white mb-8">
                    <h1
                        class="text-base md:text-4xl mb-3 font-semibold tracking-tight leading-2 md:leading-snug sm:truncate ng-star-inserted bg-white"
                    >
                    Colaboradores
                    </h1>
                    <p>Haga que su proceso de busqueda de la solicitud sea más sencilla haciendo uso de los siguientes filtros.</p>
                </div> -->
                <div class="sm:flex sm:flex-row grid-cols-1 grid sm:grid-cols-2 sm:gap-4">
                    <div class="sm:w-1/5 w-full grid-cols-1">
                        <!-- Start panel filter -->
                        <app-focux-panel-filter
                            panel
                            [clients]="clients$ | async"
                            [knowledges]="knowledges$ | async"
                            [openPanelClient]="openPanelClient"
                            [initialState]="initialState"
                            (changeFilter)="handleEventFilter($event)"
                        ></app-focux-panel-filter>
                        <!-- End panel filter -->
                    </div>

                    <div class="py-3 mt-8 h-full w-full sm:w-4/5 pt-0 pb-0 rounded shadow grid-cols-1 sm:flex sm:flex-col">
                        
                        <div class="bg-card py-3 h-full w-full px-6 rounded shadow grid-cols-1 sm:flex sm:flex-col">
                        
                        <div class="relative">
                            <ng-container [formGroup]="collaboratorArrayForm">
                                <ng-container
                                    *ngIf="
                                        collaboratorOccupation.length;
                                        else noCollaborators
                                    "
                                >
                                    <ng-container
                                        formArrayName="collaboratorSelected"
                                    >
                                        <ng-container
                                            *ngFor="
                                                let collaborator of collaboratorSelected.controls
                                                | paginate
                                                : page_size
                                                : page_number;
                                                index as i
                                            "
                                        >
                                            <ng-container [formGroupName]="i">
                                                <!-- Group -->
                                                <ng-container
                                                    *ngIf="
                                                        i === 0 ||
                                                        collaboratorOccupation[
                                                            i
                                                        ]?.client.name !==
                                                            collaboratorOccupation[
                                                                i - 1
                                                            ]?.client.name
                                                    "
                                                >
                                                    <div
                                                        class="z-10 sticky top-0 -mt-px px-6 py-1 md:px-8 border-t border-b font-bold uppercase text-secondary bg-gray-50 dark:bg-gray-900"
                                                    >
                                                        {{
                                                            collaboratorOccupation[
                                                                i
                                                            ]?.client.name
                                                        }}
                                                    </div>
                                                </ng-container>
                                                <!-- Collaborator -->

                                                <span
                                                    class="z-20 sm:flex items-center px-6 py-4 md:px-8 cursor-pointer border-b justify-between relative grid grid-cols-1"
                                                    [class.tab-select]="
                                                        tabIndex === 1
                                                    "
                                                    [ngClass]="{
                                                        'hover:bg-gray-100 dark:hover:bg-hover':
                                                            !selectedCollaborator ||
                                                            selectedCollaborator.id !==
                                                                collaboratorOccupation[
                                                                    i
                                                                ]?.id,
                                                        'bg-primary-50 dark:bg-hover':
                                                            selectedCollaborator &&
                                                            selectedCollaborator.id ===
                                                                collaboratorOccupation[
                                                                    i
                                                                ]?.id
                                                    }"
                                                >
                                                    <div class="flex flex-row grid-cols-1">
                                                        <div class="mt-2 mr-2">
                                                            <mat-checkbox
                                                                [color]="
                                                                    'primary'
                                                                "
                                                                formControlName="checked"
                                                            >
                                                            </mat-checkbox>
                                                        </div>

                                                        <div
                                                            class="flex flex-0 items-center justify-center w-10 h-10 rounded-full overflow-hidden"
                                                        >
                                                            <ng-container
                                                                *ngIf="
                                                                    collaboratorOccupation[
                                                                        i
                                                                    ]?.avatar
                                                                "
                                                            >
                                                                <img
                                                                    class="object-cover w-full h-full"
                                                                    [src]="
                                                                        collaboratorOccupation[
                                                                            i
                                                                        ]
                                                                            ?.avatar
                                                                    "
                                                                    alt="Collaborator avatar"
                                                                />
                                                            </ng-container>
                                                            <ng-container
                                                                *ngIf="
                                                                    !collaboratorOccupation[
                                                                        i
                                                                    ]?.avatar
                                                                "
                                                            >
                                                                <div
                                                                    class="flex items-center justify-center w-full h-full rounded-full text-lg uppercase bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200"
                                                                >
                                                                    {{
                                                                        collaboratorOccupation[
                                                                            i
                                                                        ]?.name.charAt(
                                                                            0
                                                                        )
                                                                    }}
                                                                </div>
                                                            </ng-container>
                                                        </div>
                                                        <div
                                                            class="min-w-0 ml-4 block"
                                                        >
                                                            <div
                                                                class="font-medium leading-5 sm:truncate"
                                                            >
                                                                {{
                                                                    collaboratorOccupation[
                                                                        i
                                                                    ]?.name
                                                                }}
                                                                {{
                                                                    collaboratorOccupation[
                                                                        i
                                                                    ]?.lastName
                                                                }}
                                                            </div>
                                                            <div
                                                                class="leading-5 sm:truncate text-secondary"
                                                            >
                                                                {{
                                                                    collaboratorOccupation[
                                                                        i
                                                                    ]
                                                                        ?.employeePosition
                                                                        .name
                                                                }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--  Knowledge -->
                                                    <div class="sm:flex grid-cols-1 my-2.5 overflow-hidden">
                                                        <ng-container
                                                            *ngIf="
                                                                collaboratorOccupation
                                                            "
                                                        >
                                                            <div
                                                                class="sm:flex sm:flex-wrap hidden items-center mt-2 mr-16"
                                                            >
                                                                <ng-container>
                                                                    <div
                                                                        class="flex items-center justify-center py-1 px-3 mr-3 mb-3 rounded-full leading-normal text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700"
                                                                    >
                                                                        <span
                                                                            class=" font-medium whitespace-nowrap"
                                                                            >{{
                                                                                collaboratorOccupation[
                                                                                    i
                                                                                ]
                                                                                    ?.client
                                                                                    .name
                                                                            }}</span
                                                                        >
                                                                    </div>
                                                                </ng-container>
                                                            </div>
                                                        </ng-container>

                                                        <div
                                                            class="flex flex-col mr-16"
                                                        >
                                                            <mat-label
                                                                >Ocupación
                                                                {{
                                                                    collaboratorOccupation[
                                                                        i
                                                                    ]
                                                                        ?.occupationPercentage
                                                                }}
                                                                %
                                                            </mat-label>
                                                            <mat-progress-bar
                                                                class="mt-3 rounded-full w-60"
                                                                [mode]="
                                                                    'determine'
                                                                "
                                                                [color]="
                                                                    collaboratorOccupation[
                                                                        i
                                                                    ]
                                                                        ?.occupationPercentage >=
                                                                    100
                                                                        ? 'primary'
                                                                        : 'warn'
                                                                "
                                                                [value]="
                                                                    collaboratorOccupation[
                                                                        i
                                                                    ]
                                                                        ?.occupationPercentage
                                                                "
                                                            >
                                                            </mat-progress-bar>
                                                        </div>
                                                        <button
                                                            class="button_edit min-w-10 min-h-7 h-7 mr-2 px-2 leading-6"
                                                            matTooltip="Siguiente"
                                                            mat-stroked-button
                                                            matTooltip="Editar ocupaciones"
                                                            (click)="
                                                                editOccupation(
                                                                    collaboratorOccupation[
                                                                        i
                                                                    ]
                                                                )
                                                            "
                                                        >
                                                            <mat-icon
                                                                class="icon-size-5"
                                                                [svgIcon]="
                                                                    'heroicons_solid:pencil'
                                                                "
                                                            >
                                                            </mat-icon>
                                                        </button>
                                                        <!-- <mat-checkbox
                                                                [color]="'primary'"
                                                                formControlName="checked">
                                                            </mat-checkbox> -->
                                                    </div>
                                                </span>
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>
                                    <mat-paginator
                                        class="flex justify-end"
                                        [length]="collaborators.length"
                                        [pageSize]="page_size"
                                        [pageSizeOptions]="pageSizeOptions"
                                        (page)="handlePage($event)"
                                        aria-label="Select page"
                                    >
                                    </mat-paginator>
                                </ng-container>
                            </ng-container>

                            <!-- No collaborators -->
                            <ng-template #noCollaborators>
                                <!-- <button
                                        mat-fab
                                        style="background-color: rgba(245, 158, 11, var(--tw-text-opacity)) !important;;
                                        "
                                        type="button"
                                        matTooltip="Siguiente"

                                    >
                                        <mat-icon
                                            style="background-color: rgba(245, 158, 11, var(--tw-text-opacity)) !important;"

                                            class="icon-size-10"
                                        >
                                            error
                                        </mat-icon>
                                    </button> -->
                                <div
                                    class="p-8 sm:p-16 text-base sm:text-4xl font-semibold tracking-tight text-center"
                                >
                                    No hay colaboradores!
                                </div>
                            </ng-template>
                        </div>

                        <button
                            class="w-1/6 sm:w-14"
                            mat-fab
                            [color]="'accent'"
                            type="button"
                            [disabled]="
                                !selectedRequest || !hasCheckedCollaborator
                            "
                            (click)="changeTab()"
                            matTooltip="Siguiente"
                            class="float"
                        >
                            <mat-icon class="icon-size-7">
                                keyboard_arrow_right
                            </mat-icon>
                        </button>
                    </div>
                    </div>
                    
                </div>
            </ng-container>
            <ngx-spinner></ngx-spinner>
            <app-update-occupation
                *ngIf="isEditing"
                [collaboratorAssigment]="assigments"
                [collaborator]="collaborator"
                (returnPrevious)="onReturnPrevious($event)"
                (deleteAssignment)="onDeleteAssignment()"
            >
            </app-update-occupation>
        </div>
    </div>
</div>
